<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
      <appSettings>
        
      <add key="Key0" value="ZDesigner ZM400 200 dpi (ZPL) (Copie 1)" />
      <add key="Key1" value="HPHP LaserJet Pro M404-M405 UPD PCL 6" />
      <add key="Key11" value="HP LaserJet Pro MFP M426-M427 PCL 6 (Copie 1)" />
      <add key="Key3" value="\\SRVDC3.next-pool.local\abriblue\PRODUCTION\reception\inventaire.txt" />
      <add key="Key4" value="C:\Program Files\Adobe\Acrobat DC\Acrobat\Acrobat.exe" />
      <add key="Key5" value="\\SRVDC3.next-pool.local\abriblue\PRODUCTION\reception\Newreception\toto.bmp" />
      <add key="Key6" value="2" />
      <add key="Key7" value="2" />
      </appSettings>
        
      
      
      
      
      
   
</configuration>